<div class="container mb-5">
  <div class="alert-warning mt-1 text-center"> <%= alert %> </div> <%# 検索機能のエラー時flashメッセージを表示する %>
    <div class="row mt-4">
      <h2 class="title"><%= current_user.name%>さんがフォローしているユーザー</h2>
    </div>

   <% if @users.exists? %>
   <div class="row mt-3 profile title">
     <div class="mx-md-5 my-5 w-100 ">
      <%  @users.each do |user| %>
      <table class="mx-md-5 mb-4">
        <tr>
          <td>
             <%=link_to user_path(user.id) , class:"link" do %>
             <h4 class="ml-md-2">
                <%= attachment_image_tag user,:profile_image, format: 'image', size: "80x100" , format: 'jpeg', fallback: "no_image.jpg" ,class:"img-thumbnail"%>
             </h4>
             <h4><i class="fas fa-user mr-1 text-break"><%=user.name%></i></h4>
             <% end %>
          </td>
          <td>
             <h4><i class="fas fa-comment-alt mr-2 ml-md-4"></i>ひとこと<h4><h5 class=" ml-md-5 text-break"><%= user.word %></h5>
          </td>
          <td >
             <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
             <%= link_to 'chatを始める', chat_path(user), class: "ml-md-5 btn btn-info" %>
             <% end %>
          </td>
        <% unless user == current_user %>
          <%if current_user.following?(user)%>
          <td class="ml-5">
            <%=link_to "フォローを外す",user_relationships_path(user.id),method: :delete,class:"link btn btn-dark ml-md-4" %>
          </td>
         <% else %>
          <td>
            <%= link_to "フォローをする",user_relationships_path(user.id),method: :post,class:"link btn btn-secondary ml-4"%>
          </td>
         <% end %>
        <% end %>
    </tr>
  </table>
  <% end %>
   <%else%>
   <h4 class="row mt-3  title">ユーザーはいません</h4>
  <%end%>
</div>