<div class="container mb-5">
  <div class="alert-warning mt-1 text-center"> <%= alert %> </div>

  <div class="row mt-5">
    <h2 class="title mr-5">グループ一覧</h2>
    <p > <%= link_to "新規作成", new_group_path ,class: "btn btn-secondary"%></p>
  </div>

  <div class="row mt-5 mx-auto">
   <% @groups.each do |group| %>
   <div>
     <div class="card ml-md-5 mb-5">
       <div class="card-body p-2 ">
         <p class="card-text pl-3"><i class="fas fa-users mr-2"></i><%= group.name %></p>
       </div>
       <p class="mx-3 mb-0"><%=link_to group_path(group.id) do %><%= attachment_image_tag group, :profile_image, fallback: "l_e_others_501.png", size: "280x340" %><% end %></p> <%#refileを使用しているため%>
       <table class=" mt-3 mb-3">
         <tr class="ml-5">
           <td>
             <p class="ml-3"><i class="fas fa-comment-alt"></i><%= group.word%></p>
           </td>
         </tr>
         <tr>
           <td>
             <i class="fas fa-user-circle mx-5 "><%= link_to "#{group.group_users.count} 人",  group_group_users_path(group.id), method: :get %></i>
           </td>
          <% if group.owner_id == current_user.id %>
           <td><%=link_to "グループ編集",edit_group_path(group.id),class:  " btn btn-info link "%></td>
          <% elsif group.joined_by?(current_user) %>
           <td><%=link_to "退会する", group_group_users_path(group.id),method: :delete,class:"btn btn-dark link"%> </td>
          <% else %>
           <td><%= link_to "加入する", group_group_users_path(group.id),method: :post,method: :post,class:"btn btn-secondary link"%></td>
           <% end %>
         </tr>
       </table>
     </div>
    </div>
   <% end %>

  </div>
 </div>

