<% @post_image.post_comments.each do |post_comment| %>
  <p>
  <%= post_comment.created_at.strftime('%Y%m%d')%>
  <%= post_comment.comment %>
  </p>
  <% if current_user == post_comment.user %>
     <td><%= link_to 'Destroy', post_image_post_comment_path(post_comment.post_image_id, post_comment.id),method: :delete ,remote: true%></td>
  <% end %>
<% end %>
  </div>
  <div class="new-comment">
  <%= form_with(model:[@post_image,@post_comment],remote: true) do |f| %>
  <p>
  <%= f.text_area :comment, rows:'5', placeholder:"コメントをここに" %>
  <%= f.submit"送信する"%>
  <% end %>
  </p>