<div class="container">
 <div class="alert-warning mt-1 text-center"> <%= alert %> </div> <%# 検索機能のエラー時flashメッセージを表示する %>
   <div class="row my-3">
     <h4 class=" post_image"><i class="fas fa-camera mr-2"></i><%= @post_image.title %></h4>
   </div>

   <div class="row post_image">

   <div class="col-6 ">

     <p class="card mt-1 ml-5">
       <%= attachment_image_tag @post_image, :image,  size: "450x540" ,class:"card-img p-3"%><%#refileを使用しているため%>
     </p>
     </div>
     <div class ="col-6 text-center mt-5 ">
       <h4>
          <i class="fas fa-comment-dots mr-2"></i><%= @post_image.caption %>
       </h4>
       <h4 class="mt-5" >
          ジャンル<i class="fas fa-paw ml-1"><%= @post_image.genre.name %></i>
       </h4>
       <h4 class="mt-5 mb-4">
          <%=link_to user_path(@post_image.user.id) , class:"link" do %>
           <i class="fas fa-user mr-1"></i><%= @post_image.user.name %>
          <%end%>
       </h4>

        <h4  id="post_image_<%= @post_image.id %>" >
         <%= render "favorites/favorite-btn", post_image: @post_image %> <%#非同期通信化するため%>
        </h4>


       <h5 class=" mt-4">
         コメント件数<i class="fas fa-comments ml-2"><%= @post_image.post_comments.count%></i>
       </h5>
       <h5 class=" mt-5">
         投稿日時 <i class="fas fa-clock ml-1"><%= @post_image.created_at.strftime('%Y/%m/%d') %></i>
       </h5>
     <% if @post_image.user == current_user %>
       <table class="mx-auto mt-5" >
        <td>
          <h5 class="btn btn-info mr-5"><%= link_to "編集", edit_post_image_path(@post_image.id),class: "link"%></h5>
        </td>
        <td>
         <h5 class="btn btn-dark"> <%= link_to "削除", post_image_path(@post_image), method: :delete ,class: "link"%></h5>
        </td>
       </table>
     <% end %>
    </div>
 </div>

<div class="comments my-3 w-100">

 <%= render "post_images/comment", post_image: @post_image,post_image: @post_image %>　<%#非同期通信化するため%>
</div>
<div class="new-comment ml-5">
  <%= form_with(model:[@post_image,@post_comment],remote: true) do |f| %>
  <p class="input-group">
  <%= f.text_area :comment, rows:'1', placeholder:"コメントをここに" ,class: "form-control  mr-0 d-block ",size: "120x1" %> <%= f.submit"送信",class: " submit btn btn-info"%>
  <% end %>
  </p>
</div>