<div class="post-body">
  <p>
   <span><%= @post_image.title %></span>
   <span><%= @post_image.genre.name %></span>
   <span>投稿日時：<%= @post_image.created_at.strftime('%Y/%m/%d') %></span>
  </p>
  <p> <%= attachment_image_tag @post_image, :image,  size: "561x561"  %></p> <%#refileを使用しているため%>
  <p><%= @post_image.caption %></p>
  <p><%= @post_image.user.name %></p>
 <% if @post_image.user == current_user %>
    <p><%= link_to "削除", post_image_path(@post_image), method: :delete %></p>
 <% end %>
  <p class="favorite-btn"><%= render "favorites/favorite-btn", post_image: @post_image %></p>　<%#非同期通信化するため%>

</div>
  <p>コメント件数:<%= @post_image.post_comments.count%></p>
<div class="comments">
 <%= render "post_images/comment", post_image: @post_image,post_image: @post_image %>　<%#非同期通信化するため%>

</div>