<!DOCTYPE html>
<html>
  <head>
    <title>AnimalCafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/871dd8f154.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header_out">
     <% if user_signed_in? %>
      <nav class="nav pt-2 mr-5  d-flex justify-content-end">
        <div class=" header">
         <ul class="d-flex">

              <li><%= link_to "マイページ", user_path(current_user.id), class: "btn btn-secondary mr-3" %></li>
              <li><%= link_to "ユーザー", users_path, class: "btn btn-secondary mr-3" %></li>
              <li><%= link_to "写真", post_images_path, class: "btn btn-secondary mr-3" %></li>
               <li><%= link_to "ジャンル", new_genre_path, class: "btn btn-secondary mr-3" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-secondary mr-3" %></li>
            <% end %>
         </ul>
        </div>
     </nav>
    </header>
    <%= yield %>
  </body>
</html>
